html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* needed for container min-height */
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#roundrect-container {
  background-color: #d3d3d396;
  min-height: 85%;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0%;
  border-radius: 1%;
}

h1 {
  text-align: center;
  font-family: serif;
  font-size: 32px;
  padding-top: 2%;
}

#photos img {
  max-height: 300px;
  border-radius: 3%;
  border-style: solid;
  border-width: medium;
  border-color: black;
}

#about-me {
  font-family: serif;
  width: 66%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 22px;
}

#attribution b {
  font-size: 24px;
}

#scales_title {
  margin-bottom: 70px;
}

#options * {
  margin-top: 2px;
}

#submit-button {
  margin-top: 32px;
  font-weight: bold;
}

#piano {
  width: 650px;
  margin-top: 4em;
  margin-left: 42%;
  margin-right: auto;
  display: flex;
}

.whitekey {
  width: 25px;
  height: 75px;
  background-color: white;
  border-color: black;
  border-style: solid;
  margin-left: -8px;
  margin-top: 25px;
  z-index: 1;
}

.blackkey {
  width: 18px;
  height: 75px;
  background-color: black;
  border-color: black;
  border-style: solid;
  z-index: 2;
  margin-left: -16px;
}

.highlighted {

} /* TODO do the CSS here */

.highlighted-root {

}
